
/* All pages */
#home-button {
    text-align: center;
    color: black;
    text-decoration: none;
    font-size: 30px;
    font-family: Aboreto, Oswald;
}

h2, h3{
    text-align: center;
    font-family: Oswald, Arial;
}

div {
    overflow: hidden;
}



/* Nav links */

#nav-list {
    text-align: center;
    font-size: 25px;
    list-style-type: none;
    background-color: black;
}

nav a {
    text-decoration: none;
    font-family: Arial, sans-serif;
    color: white;
}

nav ul li {
    display: inline-block;
    padding: 25px;
}

nav a:hover {
    color: black;
    background-color: white;
}

/* Hero Image */

#hero-image {
    background: url("../assets/images/d-day.jpg") no-repeat center center; 
    background-color: black;
    width:100%;
    height: 600px;
}

/* Home */

.home-p {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 25px;
}

#overlord {
    color: white;
    background: blue;
}

#push {
    color: white;
    background: black;
}

#end {
    color: white;
    background: rgb(165, 17, 17);
}

#div-day {
    color: white;
    background: green;
}
 
#eisenhower-speech {
   margin-left: 680px;
}

/* Commanders */

img {
    display: block;
}


.commanders-left {
    height: 200px;
    width: 200px;
    margin: 5px;
    float: left;
    font-family: Arial, sans-serif;
}
.commanders-right {
    height: 200px;
    width: 200px;
    margin: 5px;
    float: right;
    font-family: Arial, sans-serif;
}

.flag {
    width:100px;
    height: 50px;
}

#axis-div {
    background: black;
    color: white;
}

/* Statistics */

 .stat-p { 
    font-family: Arial, sans-serif;
    font-size: 25px;
    text-align: center;
}

strong {
    color: blue;
}

#ally-casualties, #axis-casualties {
   background: black;
   color: white;
}

#ally-troops, #axis-troops {
    background: rgb(165, 17, 17);
    color: white;
}

#ally-vehicles, #axis-vehicles {
    background: green;
    color: white
}

/* Media Queries */

/* For screens 1200px wide */
@media screen and (max-width: 1200px) {
      #eisenhower-speech{
        margin-left: 350px;
      }
}

/* For screens 950px wide */
@media screen and (max-width: 950px) {
    #eisenhower-speech {
        margin-left:230px;
    }
}
/* For screens 800px wide */
@media screen and (max-width: 800px) {
    #eisenhower-speech {
        margin-left: 150px;
    }
}